
/*----Inicio----Pestaña inicio */


body #primero {
  font-family: 'Cairo', sans-serif;
  height: 84vh;
  background-color:white;
  background-size: cover;
  padding-top: 0px;
  text-align: center;
  margin: auto;
  
}

body #frase {
  padding-top: 40px;
}

body #logop {
  padding-top: 22vh; 
}

#cambiar {
  background: rgba(30, 139, 193, 0.63);
  margin: 0%;
  padding: 0%;
  text-align: center;
  height: 2vh;
  padding-top: 17px;
  
}

#foto {
  font-family: 'Georama', sans-serif;
  background-image: url(img/cansado.png);
  background-size: cover;
  height: 20vh;
  text-align: center;
  padding-top: 50px;
  color: rgb(255, 255, 255);
}

#descripcion {
  background: rgb(106,133,185);
background: linear-gradient(0deg, rgba(106,133,185,1) 0%, rgba(119,187,246,1) 100%);
}

#descripcion h2,p {
  text-align: left;
}

#descripcion p{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
}

#descripcion h2{
  font-family: 'Georama', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
}
#logos{
  text-align: right;
  padding-right: 65px;
  padding: 50px;
}
#compraventa{
  padding-top: 21px;
  padding-right: 18px;
}
#documentacion {
  padding-right: 10px;
}

.NUsado {
  color: white;
}

footer .container-fluid{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: rgb(128,128,128);
  background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(213,213,213,1) 100%);
  color: black;
  height: 10vh;
  padding: 20px;
}

footer h4{
  text-align: left;
}

footer img{
  text-align: right;
}
/*----Fin----Pestaña inicio */



/*---Inicio ------------------Estilo sobre las tabs y tab content (pestañas enteras) */

.tab {
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(30,138,193);
  background: linear-gradient(0deg, rgba(30,138,193,1) 0%, rgba(136,223,254,1) 100%);
  padding-left: 63vh;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: rgb(147,147,147);
  background: linear-gradient(0deg, rgba(147,147,147,0.6629026610644257) 0%, rgba(255,255,255,0.6881127450980392) 100%);
  border-radius: 3px;
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
}


/* Create an active/current tablink class */
.tab button.active {
  background: rgb(43,156,196);
  background: linear-gradient(0deg, rgba(43,156,196,0.6797093837535014) 0%, rgba(255,255,255,0.6881127450980392) 100%);
  border-radius: 2px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}


/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*---Fin ------------------Estilo sobre las tabs y tab content (pestañas enteras) */

